$gray: #555;
$black: #111;
$white: #eee;

body{
	text-align: center;
	background-color: $white;
	font-family: "Judson", "Helvetica Neue";
	width: 50%;
	margin: 0 auto;
}

#header{
	width: 100%;
	//border: 1px solid blue;
	margin-bottom: 20px;
	margin-top: 20px;
}

#footer{
	width: 100%;
	margin-top: 20px;
	text-align: center;
}

ul{
	text-decoration: none;
	list-style-type: none;
	//border: 1px solid green;
	
}

.task{
	border: 1px solid $black;
	padding: 5px 0;
	width: 100%;
	margin-left: -20px;
	margin-bottom: 10px;
	font-size: 20px;
	// Debug colors
	&.green{
		border: 1px solid green;
	}
	&.red{
		border: 1px solid red;
	}
	&.blue{
		border: 1px solid blue;
	}
	&.black{
		border: 1px solid black;
	}
}


.appName{
	font-size: 50px;
	color: $black;
}

#greeting{
	width: 100%;
	font-size: 18px;
	color: $black;
	margin-bottom: 10px;
}

#instructions{
	font-style: italic;
	font-size: 13px;
	margin-bottom: 4px;
}

#todotext{
	border: 2px solid $black;
	border-radius: 6px;
	width: 55%;
	height: 20px;
	color: $gray;
	font-size: 18px;
	text-align: center;
}

#taskList{
	margin-top: 40px;
	border: 1px solid $black;
}