body {
  text-align: center;
  background-color: #eeeeee;
  font-family: "Judson", "Helvetica Neue";
  width: 50%;
  margin: 0 auto; }

#header {
  width: 100%;
  border: 1px solid blue;
  margin-bottom: 20px;
  margin-top: 20px; }

#footer {
  width: 100%;
  margin-top: 20px;
  text-align: center; }

ul {
  text-decoration: none;
  list-style-type: none;
  border: 1px solid green; }

.task {
  border: 1px solid #111111;
  padding: 5px 0;
  width: 100%;
  margin: 0 auto;
  font-size: 20px; }
  .task.green {
    border: 1px solid green; }
  .task.red {
    border: 1px solid red; }
  .task.blue {
    border: 1px solid blue; }
  .task.black {
    border: 1px solid black; }

.appName {
  font-size: 50px;
  color: #111111; }

#greeting {
  width: 100%;
  font-size: 18px;
  color: #111111;
  margin-bottom: 10px; }

#todotext {
  border: 2px solid #111111;
  border-radius: 6px;
  width: 40%;
  height: 20px;
  color: #555555;
  font-size: 18px;
  text-align: center; }

#taskList {
  margin-top: 40px;
  border: 1px solid green; }
  #taskList #task {
    border: 1px solid red; }
