body {
  text-align: center;
  background-color: #eeeeee;
  font-family: "Judson", "Helvetica Neue";
  width: 50%;
  margin: 0 auto; }

#header {
  width: 100%;
  margin-bottom: 20px;
  margin-top: 20px;
  background-color: white;
  border: 1px solid #111111;
  border-radius: 10px; }
  #header .appName {
    font-size: 50px;
    color: #111111; }

#footer {
  width: 100%;
  margin-top: 20px;
  text-align: center; }

ul {
  text-decoration: none;
  list-style-type: none; }

#entry #greeting {
  width: 100%;
  font-size: 18px;
  color: #111111;
  margin-bottom: 10px; }
#entry #instructions {
  font-style: italic;
  font-size: 13px;
  margin-bottom: 4px; }
#entry #todotext {
  border: 2px solid #111111;
  border-radius: 6px;
  width: 80%;
  height: 20px;
  color: #555555;
  font-size: 18px;
  text-align: center; }

#taskList {
  margin-top: 40px;
  background-color: white;
  border: 1px solid #111111; }
  #taskList #title {
    font-size: 17px;
    color: #111111;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 5px; }
  #taskList .task {
    border: 1px solid #111111;
    background-color: #eeeeee;
    border-radius: 7px;
    padding: 5px 0;
    width: 100%;
    margin-left: -20px;
    margin-bottom: 10px;
    font-size: 20px; }
    #taskList .task.green {
      border: 1px solid green; }
    #taskList .task.red {
      border: 1px solid red; }
    #taskList .task.blue {
      border: 1px solid blue; }
    #taskList .task.black {
      border: 1px solid black; }
