!!! 5
%html
	%head
		%title TodoKemp
		%link{:rel =>"stylesheet", :type =>"text/css", :href =>"css/styles.css"}
		%link{:href=>'http://fonts.googleapis.com/css?family=Judson', :rel=>'stylesheet', :type=>'text/css'}

		%script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"}
		%script{:src => "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"}		
		%script{:src => "scripts/underscore-min.js"}
		%script{:src => "scripts/head.min.js"}

	%body
		#header
			%span.appName TodoKemp
		#entry
			%form{:name=>"taskForm", :action=>"#", :method=>"get"}
				#greeting
					%span What's your task? 
				%input.todoText{:type => "text", :id=>"todotext"}
				-#%input.submitButton{:type => "submit", :value=> "Submit"}

		#taskList
			#title{:style=>"display:none"}
				%span Current Tasks:
			%ul{:id=>"tasks"}

		#footer
			Joel Kemp, @mrjoelkemp

:javascript
	head.js("scripts/todoapp.js", "scripts/todo.js");
