!!! 5
%html
	%head
		%title TodoKemp
		%link{:rel =>"stylesheet", :type =>"text/css", :href =>"css/styles.css"}
		%link{:href=>'http://fonts.googleapis.com/css?family=Judson', :rel=>'stylesheet', :type=>'text/css'}

		%script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"}
		%script{:src => "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"}		
		%script{:src => "scripts/underscore-min.js"}
		%script{:src => "scripts/head.min.js"}
		:javascript
			head.js("scripts/todoapp.js");
	%body
		#header
			%span.appName TodoKemp
		#entry
			#greeting
				%span What's your task? 
			#instructions
				%span Enter-key inserts tasks. Double-click deletes tasks.
			%input.todoText{:type => "text", :id=>"todotext"}

		#taskList
			#title{:style=>"display:none"}
				%span Current Tasks:
			%ul{:id=>"tasks"}

		#footer
			%span
				Joel Kemp, 
				%a{:href=>"https://twitter.com/#!/mrjoelkemp", :target=>"_blank"}
					@mrjoelkemp


