!!! 5
%html
	%head
		%title TodoKemp
		%link{:rel =>"stylesheet", :type =>"text/css", :href =>"css/styles.css"}
		
		%script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"}
		%script{:src => "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"}		
		%script{:src => "scripts/underscore-min.js"}

	%body
		#header
			%span.appName TodoKemp
		#entry
			%form
				#greeting
					%span What's your task? 
				%input.todoText{:type => "text", :name=>"todotext"}
				%input.submitButton{:type => "submit", :value=> "Submit"}
